#!/usr/bin/env bash

export DIRENV_WARN_TIMEOUT=30s

eval "$(devenv direnvrc)"

# Detect headless.
if [[ -n $DISPLAY || -n $WAYLAND_DISPLAY ]] && [[ -t 0 ]]; then
	if type op >/dev/null 2>&1; then
		echo "Interactive mode: enabling 1Password signin..."
		op signin || {
			echo "Failed to signin to 1Password, secrets will not be available."
		}
	fi
else
	if type op >/dev/null 2>&1; then
		echo "Headless mode: enabling 1Password signin (raw)..."
		op signin --raw || {
			echo "Failed to signin to 1Password (raw mode), secrets will not be available."
		}
	fi

fi

use devenv
